header {
    background-color: #bbbbbb;
    padding: 20px 0;
    height: 120px;
}

.box-header {
   position: relative;
    width: 940px;
    margin: 0 auto;
}

.main-title {
    font-size: 44px;
    font-weight: bold;
    padding-top: 40px;
}

.navigation {
    position: absolute;
    top: 60px;
    right: 0;
}
.navigation li {
    display: inline;
    margin: 0 0 0 15px;
}

.navigation a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    font-weight: bold;
}

.navigation a:hover {
    color: #aa0000;
    text-decoration: underline;
}

#banner {
    width: 100%;
    border-top: 10px solid black;
    border-bottom: 10px solid black;

}
 /*-----------------------------------------------------*/

.principal {
    background-color: #cccccc;
    padding: 30px;
}

p {
    text-align: center;
  }

#paragra {
    font-size: 20px;
}

em strong {
    color: red;
}

.lista {
    font-style: italic;
}

.beneficios {
    background-color: #fff;
    padding: 20px;
}


.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.banner-beneficios {
    width: 50%;
}

